[submodule "engines/alacritty"]
	path = engines/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "engines/wezterm"]
	path = engines/wezterm
	url = https://github.com/wezterm/wezterm.git
[submodule "engines/ghostty"]
	path = engines/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "engines/vt100"]
	path = engines/vt100
	url = https://github.com/doy/vt100-rust.git
[submodule "engines/libghostty-rs"]
	path = engines/libghostty-rs
	url = https://github.com/Uzaaft/libghostty-rs.git
